doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' href='https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/favicon.ico' type='image/x-icon')
        script(src="https://kit.fontawesome.com/563691f269.js" crossorigin="anonymous")
        script(src='/scripts/homeNavButtons.js'  type ='text/javascript')
        style
            include ../public/style/navBar.css
            include ../public/style/reset.css

        block head
    body
        div.nav-opacity
        div.nav-gradient
        div.nav
            div(data-route= "home").nav__button
                img.nav__link#dizneyLogo(src="https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/dizneylogoWHT.png")
            div(data-route= "home").nav__button
                i.fa.fa-home.fa-fw(aria-hidden="true")
                label.nav__link HOME
            div(data-route= "search").nav__button
                i.fa.fa-search.fa-fw(aria-hidden="true")
                label.nav__link SEARCH
            div(data-route= "originals").nav__button
                i.fa.fa-star.fa-fw(aria-hidden="true")
                label.nav__link ORIGINALS
            div(data-route= "movies").nav__button
                i.fa.fa-film.fa-fw(aria-hidden="true")
                label.nav__link MOVIES
            div(data-route= "series").nav__button
                i.fa.fa-television.fa-fw(aria-hidden="true")
                label.nav__link SERIES
            div.nav__dropdown
                div.nav__dropdown-active
                    label.nav__active-profile-label= profile1.name
                    img.avatarImg.activeProfile(src=`${profile1.Avatar.avatarImg}`)
                ul.nav__menu.nav__dropdown-items-appear
                    div.nav__dropdown-separator.nav__dropdown-items-appear
                    each profile in profiles
                        li.nav__dropdown-items-appear 
                            div(data-profile= `${profile.id}`).nav__dropdown-profile
                                img.avatarImg(src=`${profile.Avatar.avatarImg}`)
                                label.nav__profile-label= profile.name
                    li.nav__dropdown-items-appear 
                        div(data-route= "profiles/select-avatar").nav__add-profile
                            div.nav__add-profile-circle
                                i.fa.fa-plus(aria-hidden="true")
                            label.nav__profile-label Add New Profile
                    li.nav__dropdown-items-appear 
                        div(data-route= "profiles/edit-profile").nav__dropdown-option
                            label.nav__profile-label Edit Profiles
                    li.nav__dropdown-items-appear  
                        form(action="/account/logout" method='POST').nav__dropdown-option
                            div(type="submit").logoutButton
                                label.nav__profile-label Log Out
    block content


    //- div.nav__dropdown
    //-             div.nav__dropdown-active
    //-                 label.nav__active-profile-label= profile1.name
    //-                 img.avatarImg.activeProfile(src=`${profile1.Avatar.avatarImg}`)
    //-             ul.nav__menu
    //-                 div.nav__dropdown-separator
    //-                 each profile in profiles
    //-                     li 
    //-                         div(data-profile= `${profile.id}`).nav__dropdown-profile
    //-                             img.avatarImg(src=`${profile.Avatar.avatarImg}`)
    //-                             label.nav__profile-label= profile.name
    //-                 li 
    //-                     div(data-route= "profiles/select-avatar").nav__add-profile
    //-                         div.nav__add-profile-circle
    //-                             i.fa.fa-plus(aria-hidden="true")
    //-                         label.nav__profile-label Add New Profile
    //-                 li 
    //-                     div(data-route= "profiles/edit-profile").nav__dropdown-option
    //-                         label.nav__profile-label Edit Profiles
    //-                 li  
    //-                     form(action="/account/logout" method='POST').nav__dropdown-option
    //-                         div(type="submit").logoutButton
    //-                             label.nav__profile-label Log Out
