doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' href='https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/favicon.ico' type='image/x-icon')
        script(src='scripts/video-detail-tabs.js')
        style
            include ../public/style/video-detail.css
    body
        div.content-container
            div.playButton
                a(class='btn btn-primary' href=`/video/${video.title}/player` role='button') PLAY
            div.videoInfo
                div#rating
                    p #{video.rating}
                div#year
                    p #{video.year}
                div#genres
                    p #{video.genres}
            div#description
                p #{video.description}



